<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Prime Sifting</title>
</head>
<body style="text-align:center">
  <div class="container" >
    <h1 class="jumbotron">Welcome to Prime Sifting!</h1>
    <h4>Enter any positive whole number to get a list of prime numbers up to that number.</h4>
    <form action="/primes" method="post">
      <div class="form-group">
        <label for="number">Input a Number:</label>
        <input id="number" name="number" type="number" min="2">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>

